:host-context(.ltr-theme) {
    .kAnalytics {
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
}

/////////////_FA
:host-context(.rtl-theme) {
    .kAnalytics {
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
}
