@import 'app-theme/_variables.scss';
:host-context(.ltr-theme) {
    .kUsersTable {
        background-color: white;
        overflow-y: hidden;
        position: absolute;
        padding: 0px;

        .kFullName {
            font-weight: bold;
            color: $kGrayscale1;
        }

        .kIconOwner {
            font-size: 25px;
            vertical-align: sub;
            margin-left: 12px;
        }

        .kUsersTableActions {
            width: 100%;
            text-align: center;
        }
    }
}
.ltr-theme :host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

.ltr-theme :host ::ng-deep p-table .ui-table-scrollable-body {
  margin-bottom: 34px;
}

.ltr-theme :host ::ng-deep p-table .stickyHeader {
  z-index: 10;
  display: table;
}

.ltr-theme :host ::ng-deep p-table .ui-widget-header.ui-table-scrollable-header {
  border-top: none;
}

.ltr-theme :host ::ng-deep p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $kGrayscale6;
    }
}
////////////////////////_FA
:host-context(.rtl-theme) {
    .kUsersTable {
        background-color: white;
        overflow-y: hidden;
        position: absolute;
        padding: 0px;

        .kFullName {
            font-weight: bold;
            color: $kGrayscale1;
        }

        .kIconOwner {
            font-size: 25px;
            vertical-align: sub;
            margin-right: 12px;
        }

        .kUsersTableActions {
            width: 100%;
            text-align: center;
        }
    }
}

.rtl-theme :host {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    flex-direction: column;
}

.rtl-theme :host ::ng-deep p-table .ui-table-scrollable-body {
    margin-bottom: 34px;
}

.rtl-theme :host ::ng-deep p-table .stickyHeader {
    z-index: 10;
    display: table;
}

.rtl-theme :host ::ng-deep p-table .ui-widget-header.ui-table-scrollable-header {
    border-top: none;
}

.rtl-theme :host ::ng-deep p-table {
    .ui-table .ui-table-thead > tr > th {
        border-right: 1px solid $kGrayscale6;
    }
}
